<mail_script>
    var taskNum = "test1";
    var taskID = "test2";
    var instance_name = "test3";
    template.print('Click <a href="' + instance_name + " sc_task.do?sys_id=" + taskID + '">' + taskNum + '</a> to view
    the Task.');
</mail_script>